body {		
  font-family : "Segoe UI", Verdana, sans-serif;
  font-size : 1em;
  padding : 0.5em;
  margin:auto;
  width:95%; 
}
* {
  box-sizing: border-box;
}
h1, h2 { 	
  font-weight: normal ; 
  background-color : rgb(229, 229, 229); 
  color:rgb(46, 46, 46);
}
h1 { 		 
  font-size : 2em;
  text-align:center;
  float:left;
}
h2 { 		 
  font-size : 1.5em;
}
h3 { 		 
  font-size : 20px;
  text-decoration : underline ;
}
p {
  text-align:justify ;
  color:rgb(255, 255, 255)
}
table {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}
tr, td, th {
  border:rgb(190, 189, 189) 0.1em solid;
}
aside { 
  background-color: rgb(46, 46, 46);
  border : rgb(190, 189, 189) 0.1em solid;
}
section ul {
  list-style: inside;
}
footer {
  clear: both;
  background-color: rgb(229, 229, 229);
  padding: 1em;
  text-align: center;
}
abbr {
    letter-spacing: 2px;
    cursor: help;
}
th {
  padding-top: 20px;
  padding-bottom: 20px;
}
td {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
a{
  color: rgb(255, 255, 255);
}
strong{
  font-weight: bolder;
}